# Logs and Data
logs/
data/

# Environment / secrets
.env
.env.*
!.env.example

# Python
__pycache__/
*.py[cod]
*$py.class
*.so

# Django
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal
media/
blocked_ips.json
patched_logs.json

# Virtual Environment
venv/
env/
ENV/
env.bak/
venv.bak/

# IDEs
.idea/
.vscode/
*.swp
*.swo

# OS files
.DS_Store
Thumbs.db
